
MxProgressBar {
  border-image: url('power-meter-trough.png') 4;
  padding: 4;
}

MxProgressBar MxProgressBarFill {
  border-image: url('power-meter-bar.png') 4;
  height: 17;
}

MxDialog {
  padding: 80 120;
}

MxButton.Level {
  font-size: 36;
}

MxLabel.Start {
  color: #ffffff;
  font-size: 26;
}

MxLabel.Title {
  font-size: 36;
}

MxBoxLayout.Level {
  -mx-spacing: 16;
}

MxBoxLayout.Score {
  padding: 0 8 0 0;
  -mx-spacing: 32;
}
MxBoxLayout.Score > MxLabel {
  color: #000000;
  font-size: 18;
}
